label {
    display: block;
    margin: 5px;
}

fieldset {
    width: 250px;
}

ul {
    list-style: none;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

section {
    margin: 5% 15%;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
}

